p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  margin-bottom: 20px;
}

.profile-picture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 15px;
  vertical-align: middle;
}

.info {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.name {
  font-weight: bold;
  margin-bottom: 3px;
}

.handle {
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
}

.category {
  color: rgb(150, 150, 150);
  font-size: 14px;
}

.follow-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.video-preview p {
  font-family: Roboto, Arial;
}

.thumbnail {
  width: 300px;
  display: block;
}

.video-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 14px;  
}

.video-preview {
  display: block;
  margin-right: 15px;
}

.video-info {
  display: inline-block;
  width: 325px;
}

.thumbnail-row {
  margin-bottom: 12px;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

.video-author,
.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 6px;
}

.facebook-profile {
  font-family: Arial;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.facebook-profile-picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.facebook-username,
.mutual-friends-row,
.add-friend-button {
  margin-left: 15px;
}

.facebook-username {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.mutual-friends-row {
  margin-top: 6px;
}

.mutual-friend-picture,
.mutual-friends {
  vertical-align: middle;
}

.mutual-friend-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 6px;
}

.mutual-friends {
  display: inline-block;
  color: rgb(100, 100, 100);
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 5px;
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}